<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <div id="prueba1">
        <div class="container mt-5">
            <input type="text" class="form-control my-3" v-model='persona' @keyup.enter='agregarPersona'>
            <button class="btn btn-primary" @click='agregarPersona'>Agregar</button>
            <div class="my-3" v-for='(persona,index) of personas'>
                <!-- <div :class="{'alert-success': persona.estado, 'alert-warning': !persona.estado}" role="alert"> -->
                  <div :class="['alert', persona.estado ? 'alert-warning': 'alert-success']"> 
                    <div class="d-flex justify-content-between"> <!--Clase de flext box content-betwee(justificar contenido le pone extremo a cada uno y align-items-stretch( para alinear los divs) ) -->
                        <div> 
                            {{index}} -  {{persona.nombre}} - {{persona.estado}}
                        </div>
                        <div>   
                         <button class="btn btn-success btn-sm" @click='cambiarColor(index)'>OK</button>
                         <button class="btn btn-danger btn-sm"  @click='eliminarDiv(index)'>X</button> 
                        </div>    
                    </div>     
                </div>
                </div>    
            </div>    
        </div>
    </div>

   
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
<script src="prueba.js"></script> 
</body>
</html>